---
layout: default
title: Finbarr Timbers
permalink: /
---

<h2 class="section"> Posts </h2>

{% for post in site.posts %}
<div class=post>
  <a class="link-title" href="{{ post.url }}">{{ post.title }}</a>
  <span class="right-side"> {{ post.date | date: "%-d %B %Y" }} </span>
</div>
{% endfor %}

<h2 class="section"> Talks </h2>
{% for talk in site.talks %}
<div class=post>
  <div class="talk-title">
    <h3> {{ talk.name }} </h3>
    <div>
      {{ talk.conference | markdownify}}
    </div>
    <div>
      {{ talk.slides | markdownify}}
    </div>
  </div>
</div>
{% endfor %}

<h2 class="section"> Projects </h2>
{% for project in site.projects %}
<div class=post>
  <a class="link-title" href="{{ project.url }}">{{ project.name }}</a>
  <div>
    {{ project.description | markdownify }}
  </div>
</div>
{% endfor %}


<h2 class="section"> Work Experience </h2>
{% for job in site.jobs %}
<div class=post>
    <a class="link-title" href="{{ job.url }}">{{ job.employer }}</a> &mdash; {{job.title}}
  <div>
    {{ job.description }}
  </div>
</div>
{% endfor %}
