<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>Finbarr Timbers</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZBM24T0LEX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZBM24T0LEX');
</script>
<body>
  <div id="menu">
    <span class="title">Finbarr Timbers</span>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/advice">Advice</a></li>
      <li><a href="/rfs">RFS</a></li>
      <li><a href="/development">Economic development</a></li>
    </ul>
  </div>
  <div id="left">&nbsp;</div>
  <div id="content">{{ content }}</div>
</body>
</html>
